<!DOCTYPE html>
<html>
<head>
	<title>Diabetic Spreadsheet</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://raw.githubusercontent.com/weareoutman/clockpicker/gh-pages/src/clockpicker.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />


<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
  <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>


<style>
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
.my_dtp_c {
  margin: 10px;
}

</style>
</head>

<body>
    <script>
      function resetData() {document.getElementById("dailyData").reset();}
    </script>
    <div class="form-group form-group-lg">
<div class="col-sm-9" align="center">

  <h1> Enter your diet intake for the day </h1>
    <form action="{{url_for('addData') }}" id="dailyData" method="post">
    <input class="form-control flipthis-highlight" id="example-text-input-horizontal-lg" type="text" name="firstName" placeholder="First Name">

    <br>


   <input class="form-control flipthis-highlight" id="example-text-input-horizontal-lg" type="text" name="lastName" placeholder="Last Name">





    <br>
  <div class="col-10">
      <input class="form-control flipthis-highlight" type="number" name="Glucose" placeholder="Glucose level"><br>

      <input class="form-control flipthis-highlight" type="number" type="number" name="CarbIntake" placeholder="Carb Intake"><br>

      <input class="form-control flipthis-highlight" type="number" type="number" name="Insulin" placeholder="Insulin Intake"><br>


    <div class="row">
      <div class='col-10'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $(function() {
          $('#datetimepicker1').datetimepicker();
        });
      </script>
    </div>
<script type="text/javascript">
$(function() {
    $('input[name="Day"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true
    },
    function(start, end, label) {
        var years = moment().diff(start, 'years');
    });
});
$('#my_dtp').datetimepicker({
  format: 'yyyy-mm-dd hh:ii'
})
$('#my_dtp').datetimepicker('update', new Date())

</script>


        <input type="button" class="btn btn-info" onclick="resetData()" value="Clear">
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
</div>

</div>
</div>

</body>
</html>
