<!DOCTYPE html>
<html>
<head>
	<title>Diabetic Spreadsheet</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
</style>
</head>

<body>

    <script>
      function resetData() {document.getElementById("dailyData").reset();}
    </script>
    <div class="form-group form-group-lg">
<div class="col-sm-9" align="center">

  <h1> Enter your diet intake for the day </h1>
    <form action="{{url_for('addData') }}" id="dailyData" method="post">
    <input class="form-control flipthis-highlight" id="example-text-input-horizontal-lg" type="text" name="firstName" placeholder="First Name">

    <br>


   <input class="form-control flipthis-highlight" id="example-text-input-horizontal-lg" type="text" name="lastName" placeholder="Last Name">


    <br>
    <br>
    <select class="form-control flipthis-highlight" name="Day" form="dailyData">
      <option value=1>Sunday</option>
      <option value=2>Monday</option>
      <option value=3>Tuesday</option>
      <option value=4>Wednesday</option>
      <option value=5>Thursday</option>
      <option value=6>Friday</option>
      <option value=7>Saturday</option>
    </select>
    <br>
  <div class="col-10">
      <input class="form-control flipthis-highlight" type="number" name="Glucose" align='center' placeholder="Glucose level">
    </div>
        Carb intake: <input type="number" name="CarbIntake"><br>
        Insulin: <input type="number" name="Insulin"><br>
        Time since last meal (hours): <input type="number" name="Hours">
             (minutes): <input type="number" name="Minutes"><br>
        <input type="button" onclick="resetData()" value="Clear">
        <input type="submit" value="Submit">
      </form>


</div>
</div>
</body>
</html>
